.header
  font-size: 1.6em
  background: #4889FF
  color: white
  padding: .5em
  font-weight: 700

.header__claim
  display: flex
  align-items: center
  color: white
  text-decoration: none

  svg
    font-size: 2rem

.header__title
  margin-left: .5rem
  display: inline-block
